<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
</head>
<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <footer>
    {% block footer %}
      &copy; Copyright 2019 by CAV Inc.
    {% endblock %}
  </footer>
</body>
</html>